$color: #030303;

div.container {
    display: flex;
    flex-direction: row;
 
}
div.menu{  
    margin: 5px;
    width: 33%;
    height: 100%;   
    background-color: $color;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;   
}
    
div.main {
    margin: 5px;
    width: 33%;
    background-color: $color;
    height: 800px;   
}
 
div.right {
    margin: 5px;
    width: 33%;
    background-color: $color;
    height: 100%;   
  
}